@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap");

* {
  font-family: Poppins, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e0ff97;
}

#root {
  display: flex;
  justify-content: center;
}

.Screen {
  border: 3px rgb(0, 0, 0) solid;
  padding: 2px 18px 18px 18px;
  margin: 5%;
  border-radius: 17px;
  background-color: white;
  -webkit-box-shadow: inset -5px -5px 12px -4px rgba(0, 0, 0, 1),
    6px 9px 0px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset -5px -5px 12px -4px rgba(0, 0, 0, 1),
    0px 10px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: inset -5px -5px 12px -4px rgba(0, 0, 0, 1),
    0px 10px 0px -4px rgba(0, 0, 0, 1);
}

.IPBtn {
  padding: 0px 15px 2px 15px;
  display: flex;
  column-gap: 3px;
}

.dot1 {
  height: 14px;
  width: 14px;
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
}

.dot2 {
  height: 14px;
  width: 14px;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 50%;
}

.dot3 {
  height: 14px;
  width: 14px;
  background-color: green;
  border: 1px solid black;
  border-radius: 50%;
}

.BScreen {
  border: 3px rgb(0, 0, 0) solid;
  padding: 10px 10px;
  border-radius: 17px;
  -webkit-box-shadow: inset 0px 0px 12px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 12px -2px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 12px -2px rgba(0, 0, 0, 1);
}

.BScreen h2 {
  font-size: 42px;
  padding: 75px 2px;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.BScreen span {
  background-color: #ffe8a4;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.Buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 3px solid rgb(0, 0, 0);
  background-color: white;
  padding: 75px 11px;
  margin: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 17px;
  -webkit-box-shadow: inset -5px -5px 12px -4px rgba(0, 0, 0, 1),
    6px 9px 0px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset -5px -5px 12px -4px rgba(0, 0, 0, 1),
    0px 10px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: inset -5px -5px 12px -4px rgba(0, 0, 0, 1),
    0px 10px 0px -4px rgba (0, 0, 0, 1);
}

.btn {
  background-color: #ebffbd;
  border: solid;
  color: white;
  padding: 20px 55px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 12px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 0px -4px rgba (0, 0, 0, 1);
}

.btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

.ButtonsIndex {
  display: flex;
  justify-content: space-between;
  column-gap: 7px;
}

.ButtonsIndex .btn {
  width: 100%;
  height: 100px;
  background-color: #ffbdfc;
}

.FI-Title {
  font-size: 35px;
  padding: 5px 2px;
  margin-top: 5px;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.FI-List {
  border: 3px solid black;
  width: 100%;
  height: calc(var(--vh, 1vh) * 85);
  background-color: white;
  overflow: auto;
  border-radius: 12px;
  padding: 16px 5px 16px 5px;
}

.FI {
  display: flex;
  width: 100%;
  height: 15.5vh;
  background-color: #e0ff97;
  border: 3px solid black;
  border-radius: 12px;
  margin-bottom: 4px;
}

.FI p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 7px;
}

.FI .Item-Name {
  font-weight: 700;
}

.FI .info {
  display: flex;
  row-gap: 14px;
  width: 60%;
  height: 85%;
  margin: 11px;
  background-color: #e0ff97;
  flex-direction: column;
}

.FI .BDesign {
  width: 1.5%;
  height: 75%;
  margin-top: 20px;
  margin-left: 4px;
  background-color: #ffbdfc;
  border: 1px solid black;
  border-radius: 12px;
}

.FI .FII {
  width: 27%;
  height: 90%;
  margin: 8px;
  margin-right: 5px;
  background-color: lightgray;
  border: 3px solid black;
  border-radius: 12px;
  overflow: hidden;
}

.FoundTitle {
  display: flex;
  width: 100%;
  margin-top: 10px;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 35px;
}

.FoundTitle span {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.outerContainer .Img {
  width: 100%;
  height: calc(var(--vh, 1vh) * 20);
  border: 1px solid black;
  border-radius: 14px;
  background-color: lightgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 0vh;
}

.PSelect {
  display: flex;
  width: 20%;
  height: 43px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: #ffbdfc;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.IName {
  width: 100%;
  height: 75px;
  margin-top: 8%;
}

.IName label {
  padding: 0px;
  margin: 3px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.IName .NameField {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 12px;
  box-sizing: border-box;
}

.IFound {
  width: 100%;
  height: 75px;
}

.IFound label {
  padding: 0px;
  margin: 3px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.IFound .FoundField {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 12px;
  box-sizing: border-box;
}

.outerContainer .PhoneNumber {
  width: 100%;
  height: 75px;
}

.outerContainer .PhoneNumber label {
  padding: 0px;
  margin: 3px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outerContainer .PhoneNumber .NumberField {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 12px;
  box-sizing: border-box;
}

.description {
  width: 100%;
  height: 14.5vh;
  margin-top: 7%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 12px;
  background-color: white;
  box-sizing: border-box;
  resize: none;
}

.description p {
  overflow-y: auto;
  word-wrap: break-word;
}

.description::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.PostBtn {
  width: 32%;
  height: 42px;
  margin-top: 20px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 14px;
  background-color: #ffbdfc;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 0px -4px rgba (0, 0, 0, 1);
}

.PostBtn:active {
  box-shadow: none;
  transform: translateY(2px);
}

.LI-Title {
  display: flex;
  font-size: 35px;
  padding: 5px 2px;
  margin-top: 5px;
  justify-content: space-evenly;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.LI-List {
  border: 3px solid black;
  width: 100%;
  height: calc(var(--vh, 1vh) * 85);
  background-color: white;
  border-radius: 12px;
  padding: 16px 5px 16px 5px;
  overflow-y: auto;
}

.LI {
  display: flex;
  width: 100%;
  height: 15.5vh;
  background-color: #e0ff97;
  border: 3px solid black;
  border-radius: 12px;
  margin-bottom: 4px;
}

.LI p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  word-wrap: break-word;
}

.LI .Item-Name {
  font-weight: 700;
}

.LI .info {
  width: 60%;
  height: 85%;
  margin: 11px;
  background-color: #e0ff97;
}

.LI .BDesign {
  width: 1.5%;
  height: 75%;
  margin-top: 20px;
  margin-left: 4px;
  background-color: #ffbdfc;
  border: 1px solid black;
  border-radius: 12px;
}

.LI .LII {
  width: 27%;
  height: 90%;
  margin: 8px;
  margin-right: 5px;
  background-color: lightgray;
  border: 3px solid black;
  border-radius: 12px;
  overflow: hidden;
}

.lostTitle {
  display: flex;
  width: 100%;
  height: 11.7vh;
  margin-top: 10px;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 35px;
}

.lostTitle span {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ILost {
  width: 100%;
  height: 75px;
}

.ILost label {
  padding: 0px;
  margin: 3px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ILost .LostField {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 12px;
  box-sizing: border-box;
}

.outerContainer {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 406px;
  justify-content: center;
}

.innerContainer {
  border: 3px black solid;
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  width: 100%;

  -webkit-box-shadow: 0px 6px 0px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 6px 0px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 6px 0px -1px rgba(0, 0, 0, 1);
}

.innerContainer h1 {
  font-family: "Syncopate";
  font-size: 36px;
  text-align: center;
}

.label {
  display: block;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  padding-left: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.textWithLabel {
  width: 100%;
}

.textfield {
  display: block;
  width: 100%;
  font-family: "Poppins";
  font-size: 16px;
  height: 90%;
  border: 3px black solid;
  border-radius: 15px;
  padding: 3px 7px;

  -webkit-box-shadow: 3px 2px 0px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 2px 0px -1px rgba(0, 0, 0, 1);
  box-shadow: 3px 2px 0px -1px rgba(0, 0, 0, 1);
}

.textfield:focus {
  outline: none;
  border: 3px #bc9dfc solid;
}

form button {
  background-color: #ffbdfc;
  text-align: center;
  font-family: "poppins";
  font-size: 24px;
  padding: 5px 50px;
  border-radius: 15px;
  border: 3px black solid;
  margin-top: 10%;

  -webkit-box-shadow: 2px 3px 0px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 3px 0px -1px rgba(0, 0, 0, 1);
  box-shadow: 2px 3px 0px -1px rgba(0, 0, 0, 1);
}

form button:active {
  box-shadow: none;
}

.googleContainer {
  width: 100%;
  background-color: white;
  border: 3px black dashed;
  border-radius: 15px;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
}

.loginType {
  display: flex;
  gap: 3px;
}

.loginType p {
  display: flex;
  background-color: #ffbdfc;
  border-radius: 20px;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 600;
  text-wrap: nowrap;
  align-items: center;
}

.loginType i {
  font-size: 7px;
}

.loginType i svg {
  width: 30px;
  height: auto;
  display: inline-block;
}

.fa {
  display: flex;
  align-items: center;
}

.PSelect .icon {
  padding: 5px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  border-radius: 50%;
}

.PSelect .selected {
  border: 1.5px solid black;
  background-color: #e0ff97;
}

.outerContainer .PhoneNumber .PhoneNumberText {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
}

.itemImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.itemPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.itemPageContainer .itemImg {
  width: 100%;
  height: 40vh;
  border: 1px solid black;
  border-radius: 14px;
  background-color: lightgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.itemPageContainer .itemImg .Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemPageContainer .itemDetailsContainer {
  width: 100%;
  height: 40vh;
  margin-top: 7%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 12px;
  background-color: white;
  box-sizing: border-box;
  resize: none;
}

.itemPageContainer .itemDetailsContainer .itemName {
  display: flex;
  column-gap: 7px;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  margin-top: 4%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 7px;
  background-color: white;
  box-sizing: border-box;
  resize: none;
}

.itemPageContainer .itemDetailsContainer .itemName h3 {
  display: flex;
  width: 32%;
  height: 100%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 14px;
  background-color: #ffbdfc;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  align-items: center;
}

.itemPageContainer .itemDetailsContainer .seenAt {
  display: flex;
  column-gap: 7px;
  width: 100%;
  height: 5vh;
  margin-top: 4%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 7px;
  background-color: white;
  box-sizing: border-box;
  resize: none;
}

.itemPageContainer .itemDetailsContainer .seenAt h3 {
  display: flex;
  width: 32%;
  height: 100%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 14px;
  background-color: #ffbdfc;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  align-items: center;
}

.itemPageContainer .itemDetailsContainer .description {
  display: flex;
  flex-direction: column;
  column-gap: 7px;
  width: 100%;
  height: 21.5vh;
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 7px;
  background-color: white;
  box-sizing: border-box;
  resize: none;
}

.itemPageContainer .itemDetailsContainer .description h3 {
  display: flex;
  width: 32%;
  height: 32px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 14px;
  background-color: #ffbdfc;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  align-items: center;
}

.itemPageContainer .phoneContainer {
  width: 100%;
  height: 17vh;
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 17px;
  background-color: white;
  box-sizing: border-box;
  resize: none;
}

.itemPageContainer .phoneContainer .PhoneNumber {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.itemPageContainer .phoneContainer .PhoneNumberField {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 4vh;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  align-items: center;
  column-gap: 5px;
}

.itemPageContainer .phoneContainer .PhoneNumberField .NumberField {
  width: 70%;
  border: none;
}

.itemPageContainer .phoneContainer .PhoneNumberField .sendOTP {
  display: flex;
  width: 28%;
  height: 25px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffbdfc;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: 6px 6px -1px 5px rgba(0, 0, 0, 1);
}

.itemPageContainer .phoneContainer .OTP .OTPField {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 4vh;
  border-radius: 10px;
  align-items: center;
  column-gap: 5px;
  justify-content: center;
}

.itemPageContainer .phoneContainer .OTP .OTPField .OTPNumberField {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  height: 30px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  align-items: center;
}

.itemPageContainer .phoneContainer .OTP .OTPField .ShowNumber {
  display: flex;
  width: 45%;
  height: 30px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffbdfc;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: 6px 6px -1px 5px rgba(0, 0, 0, 1);
}

.itemPageContainer .contactContainer {
  display: flex;
  width: 100%;
  height: 4.5vh;
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 17px;
  background-color: white;
  box-sizing: border-box;
  resize: none;
  align-items: center;
  column-gap: 5px;
}

.itemPageContainer .contactContainer .contactAt {
  display: flex;
  width: 45%;
  height: 30px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffbdfc;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  justify-content: center;
}

.itemPageContainer .contactContainer .contactNumber {
  display: flex;
  width: 70%;
  background-color: black;
}

.itemPageContainer .contactContainer .contactNumber p {
  width: 100%;
  height: 100%;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.UserOuterContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.UserOuterContainer .container1 {
  display: flex;
  width: 100%;
  height: 5vh;
  margin-top: 5%;
  column-gap: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.UserOuterContainer .container1 .UserNameField {
  font-weight: 700;
  padding: 2%;
  padding-left: 4%;
  width: 74%;
  border: 3px solid black;
  background-color: white;
  border-radius: 15px 8px 8px 15px;
  overflow-x: auto;
}

.UserOuterContainer .container1 .LogOutField {
  font-weight: 700;
  padding: 2%;
  width: 25%;
  border: 3px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 8px 15px 15px 8px;
  background-color: #ffbdfc;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: 7px 7px -1px -4px rgba(0, 0, 0, 1);
}

.UserOuterContainer .container1 .LogOutField:active {
  box-shadow: none;
  transform: translateY(2px);
}

.UserOuterContainer .container2 {
  width: 100%;
  height: calc(var(--vh, 1vh) * 85);
}

.UserOuterContainer .container2 h2 {
  margin-top: 5%;
  margin-left: 5%;
}

.UserOuterContainer .container2 .container3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  border: 3px solid rgb(0, 0, 0);
  background-color: white;
  padding: 0px 5px 16px 5px;
  border-radius: 17px;
  -webkit-box-shadow: inset -5px -5px 12px -4px rgba(0, 0, 0, 1),
    6px 9px 0px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset -5px -5px 12px -4px rgba(0, 0, 0, 1),
    0px 10px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: inset -5px -5px 12px -4px rgba(0, 0, 0, 1),
    0px 10px 0px -4px rgba(0, 0, 0, 1);
  overflow: auto;
}

.UserOuterContainer .container2 .container3 .YourItem {
  margin-top: 8.5%;
}

.UserOuterContainer .container2 .container3 .OptionPart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  margin-top: 2%;
  column-gap: 15px;
}

.UserOuterContainer .container2 .container3 .OptionPart .MarkAsFound {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 2%;
  width: 50%;
  border: 3px solid black;
  background-color: #b3ff01ae;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: 7px 7px -1px -4px rgba(0, 0, 0, 1);
}

.UserOuterContainer .container2 .container3 .OptionPart .MarkAsFound:active {
  box-shadow: none;
  transform: translateY(2px);
}

.MarkAsLost {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 2%;
  width: 50%;
  border: 3px solid black;
  background-color: #757674;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: 7px 7px -1px -4px rgba(0, 0, 0, 1);
}

.markfounditemsheading {
  margin-top: 8.5%;
  background-color: #ffbdfc;
}

.UserOuterContainer .container2 .container3 .OptionPart .Remove {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 2%;
  width: 50%;
  border: 3px solid black;
  background-color: rgb(250 95 95);
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: 7px 7px -1px -4px rgba(0, 0, 0, 1);
}

.UserOuterContainer .container2 .container3 .OptionPart .Remove:active {
  box-shadow: none;
  transform: translateY(2px);
}

.addpost a button {
  background-color: #ffbdfc;
  border: solid;
  color: white;
  padding: 5px 20px;
  margin-top: 26%;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 12px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: 7px 7px -1px -4px rgba(0, 0, 0, 1);
}

.addpost a button:active {
  box-shadow: none;
  transform: translateY(2px);
}

.icon-container {
  position: relative;
  display: flex;
  cursor: pointer;
}

.icon-container .tooltip-text {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 125%;
  /* Position tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
  white-space: nowrap;
  /* Prevent wrapping */
}

.icon-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
